@import "src/styles/varriables";
@import "src/styles/media";

.dashboard-team-members {
  p{
    font-size: 12px;
    line-height: 18px;
    color: #8E8EB2;
  }
  .rotate-icon svg{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all 0.5s;
    cursor: pointer;
  }
  svg{
    cursor: pointer;
  }
  .ant-table-thead{
    tr th{
      background: transparent !important;
    }
  }
  .ant-table-cell::before{
    display: none;
  }
  tr.ant-table-expanded-row > td, tr.ant-table-expanded-row:hover > td {
    background: transparent;
    transition: all 0.5s;
  }
  .notify-icon-large{
    width:46px;
    height:57.5px;
  }
  .d-i-block{
    display: inline-block;
    margin-left: 21.5px;
    vertical-align: bottom;
    font-weight: bold;
  }
  .approve-btn, .decline-btn{
    width:84px;
    height:25px;
    font-size:15px;
    line-height: 20px;
    border-radius: 60px;
    font-weight: bold;
    color: #24242F;
    border: none;
    text-align: center;
    background: $colorGreenPrimary;
  }
  .decline-btn{
    background: red;
    color: white;
  }
}
.w-20{
  width:240px !important;
}
.ml-150{
  margin-left: 150px !important;
}
.ant-pagination{
    background-image: none !important;
    @include media(mobile){
      background-color: transparent !important;
    }
}
.ant-pagination-item-active{
  border-color: $colorGreenPrimary;
  a{
    color: #24242F;
  }
}
.display-i-b{
  display: inline-block;
}