@import "src/styles/varriables";
@import "src/styles/media";

.comment-section{
  margin-top: 7.4%;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  @include media(mobile){
    margin-top: 45px;
    margin-left: 30%;
    transform: translate(-30%);
  }
  @include media(tablet){
    margin-top: 40px;
    margin-left: 30%;
    transform: translate(-30%);
  }
  @include media(smallTablet){
    margin-top: 40px;
    margin-left: 30%;
    transform: translate(-30%);
  }
  .comment-icon-circle{
    width: 59px;
    height: 59px;
    border: 1px solid $colorGreenPrimary;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $colorGreenPrimary;
    box-shadow: 0 0 12px 0 $colorGreenPrimary;
    .comment-icon{
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .comment-section-description {
    display: flex;
    flex-direction: column;

    .comment-section-description-main-txt{
      margin-bottom: 0;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: white;
    }
    .comment-section-description-link{
      margin-bottom: 0;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 26px;
      color: white;
      .find-out-more-icon{
        vertical-align:middle;
        cursor:pointer;
        color: $colorGreenPrimary;
      }
    }
  }
}