@import "src/styles/varriables";
@import 'src/styles/media';

.sign-up-form-step-two{
  width:75%;
  .anticon svg{
    color:white;
  }
  input.ant-input{
    color:white;
    &:hover{
      border-bottom-color:$colorGreenPrimary;
    }
    &::placeholder{
      color: white !important;
    }
  }

  .input-password{
    border: none;
    border-bottom: 1px solid #3FE994;
    background: transparent;
    box-shadow: none !important;
    color: #24242F;
    padding: 10px 18px;
    margin-left: 12%;
    &:hover{
      border-bottom-color:$colorGreenPrimary;
    }
    &::placeholder{
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      color: white;
      text-align: center;
    }
  }
  .ant-form-item-has-error :not(.ant-input-disabled) :not(.ant-input-borderless).ant-input,
  .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled) :not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper
  {
    background: transparent;
  }
  .ant-input-affix-wrapper > input.ant-input{
    background: transparent;
  }

  @include media(tablet) {
    padding-bottom: 0;
  }

  .submit {
    width: 85%;
    background: $colorGreenPrimary;
    border-radius: 60px;
    margin-top: 20%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
    color: #24242F;
    border-color: $colorGreenPrimary;
    text-align: center;
    margin-left: 18%;
    &:hover{
      color: #24242F;
      background: $colorGreenPrimary;
      opacity: 0.8;
    }
  }
}
